body {
    margin: 0 ;  
    font-family: 'Nanum Gothic', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0 ;
    background-color: white;
    border-bottom: 1px solid skyblue;
    z-index: 8;
}

#header_container {
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 700;
    position: fixed;
    padding-left: -10px;
    margin-left: 210px;
    width: 1050px;

}

#header_container ul {
    width: 100%;
    display: inline-flex;
}

#header_container ul li {
    display: inline-block;
}

#menubar {
    margin-left: 20px;
    
    
}

.dropdown {
    position: relative;
}

.dropdown_menu {
    color: white;
    margin-top: -3px;

    
    cursor: pointer;
}


.dropdown_content1 {
    position: absolute;
    background-color: white;
    border: rgba(253, 244, 244, 0.911) solid 1px;
    
    display: none;
    margin-left: 0px;
}

.dropdown_content2 {
    position: absolute;
    background-color: white;
    border: rgba(253, 244, 244, 0.911) solid 1px;
    
    display: none;
    margin-left: -14px;
}

.dropdown_content3 {
    position: absolute;
    background-color: white;
    border: rgba(253, 244, 244, 0.911) solid 1px;
    
    display: none;
    margin-left: -15px;
}

.dropdown_content4 {
    position: absolute;
    background-color: white;
    border: rgba(253, 244, 244, 0.911) solid 1px;
    
    display: none;
    margin-left: -20px;
}

.dropdown_content1 a {
    color: black;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
    
    padding: 10px;   
}

.dropdown_content2 a {
    color: black;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
    padding: 10px;   
}

.dropdown_content3 a {
    color: black;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;  
    padding: 10px;   
}

.dropdown_content4 a {
    color: black;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
    padding: 10px;   
}



.dropdown_menu a:hover {
    
    color: rgb(91, 157, 219);
}

.dropdown:hover .dropdown_content1 {
    
    display: block;
}

.dropdown:hover .dropdown_content2 {
    
    display: block;
}

.dropdown:hover .dropdown_content3 {
    
    display: block;
}

.dropdown:hover .dropdown_content4 {
    
    display: block;
}

.dropdown_content1 a:hover {
    
    color: white;
    background-color: skyblue;
}

.dropdown_content2 a:hover {
    
    color: white;
    background-color: skyblue;
}

.dropdown_content3 a:hover {
    
    color: white;
    background-color: skyblue;
}

.dropdown_content4 a:hover {
    
    color: white;
    background-color: skyblue;
}






ul {
    display: inline-flex;
    margin-top: 20px;
    float: left;
    
}

ul li {
    list-style: none;
    
    
}

ul li a {
    text-decoration: none;
    color: rgb(44, 46, 47);
    padding-right: 40px;
    
}

ul li div img {
    width: 70px;
    height: 50px;
    margin-top: -20px;
}

#personal {
    margin-top: -54px;
    margin-left: 900px;
    
}

#header_container #personal .login {
    margin-top: 3px;
    font-size: 13px;
    z-index: 2;
}

#box1 {
    width: 200px;
    height: 50px;
}

#header_back {
    height: 50px;
}

#container {
    margin-left: 450px;
    margin-right: 200px;
    width: 1030px;
    height: 1200px;
    z-index: 2;
    margin-top: -50px;
    margin-bottom: -900px;
   
    
       
}

#age_ment {
    width: 100%;
    height: 320px;
    margin-bottom: -50px;
    
}

#age_ment img {
    width: 250px;
    margin-top: -50px;
    margin-left: 200px;
    
    float: left;
}

#age_ment #p1 {
    margin-top: 200px;
    margin-left: 500px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(122, 159, 231);
    width: 350px;
    height: 100px;
    
}

#age_ment #p2 {
    margin-top: -30px;
    margin-left: 500px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(184, 179, 168);
    line-height: 30px;
    width: 300px;
    height: 100px;
    
}



#big .dogcat {
    
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 20px;
}


#age_box1 {
    width: 1030px;
    height: 550px;
    z-index: 2;
    background-color: rgb(180, 215, 235);
    text-align: center;
    margin-top: -70px;  
    
}




#age_box2 {
    width: 1030px;
    height: 550px;
    background-color: rgb(172, 151, 36);
    text-align: center;
    margin-left: -2000px;  
    top: 320px;
    padding-top: 2px;
    
}


#age_box2 #result  {
    margin-top: -10px;
}


#age_box1 p {
    
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    padding-top: 50px;
}

#age_box2 p {
    margin-top: -2px;
    top: 20px;
    font-size: 30px;
}




#dogage {
    width: 100px;
    height: 100px;
    
}

#result {
    width: 100px;
    height: 100px;
    margin-left: 200px;
    
}



.dogcat {
    margin-top: -80px;
    margin-left: -180px;
    
    width: 700px;
    height: 350px;
    

}



.dogcat p {
    float: left;
    margin-right: 60px;
    margin-top: 80px;
    font-size: 40px;
    font-weight: 400;
    float: left;
    font-family: 'Jua', sans-serif;
    
}
.dogcat img {
    width: 150px;
    height: 180px;
    cursor: pointer;
}

.dog {
    border: rgb(70, 130, 180) solid 3px;
    opacity: 100%;
    margin-right: 30px;
    
    
}

.cat {
    border: rgb(240, 186, 165) solid 3px;
    opacity: 30%;
    
    
}



#type_input img {
    width: 150px;
    height: 200px;
    opacity: 55%;
    border: solid 3px rgba(43, 93, 168, 0.589);
    border-radius: 20px;
}






#weight_input input {
    border: rgb(192, 187, 180) solid 2px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
}

#date_input input {
    border: rgb(192, 187, 180) solid 2px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
}

#type1, #type2 {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: rgb(192, 187, 180) solid 2px;
    text-align: center;
    font-family: 'Jua', sans-serif;
}

#dog_type p {
    font-family: 'Jua', sans-serif;
    padding-top: 20px;
    margin-left: 270px;
    width: 500px;
    height: 40px;
    text-align: center;
}

#cat_type p {
    font-family: 'Jua', sans-serif;
    margin-top: 30px;
    padding-top: 20px;
    margin-left: 270px;
    width: 500px;
    height: 40px;
    text-align: center;
}

#dog1 {
    opacity: 100%;
    
}

#dog2 #dog3 #dog4 #dog5{
    opacity: 55%;
    
}










#cal_button .cal {
    
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border: rgb(66, 125, 235) solid 2px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(247, 252, 255);
    cursor: pointer;
}

#cal_button .cal:hover {
    background-color: rgb(172, 181, 187);
}




#result #result_text1 {
    width: 600px;
    font-size: 30px;
}

#result #result_text2 {
    margin-top: 40px;
    width: 600px;
    font-size: 30px;
}

#result #cat_result {
    width: 600px;
    font-size: 20px;
    margin-top: 20px;
}





#copyright {
    width: 100%;
    height: 270px;
    
    padding-top: -700px;
    color: rgb(80, 66, 66);
    background-color: rgba(219, 212, 201, 0.308);
    
    
}

#copyright_box {
    display: inline-flex;
    margin-left: 100px;
    

}

#copyright_left {
    
    margin-top: 10px;
    margin-left: -70px;
    width: 300px;
   

}

#copyright_left #cs {
    font-size: 20px;
    margin-left: 40px;
    line-height: 28px;
    font-weight: 700;
}

#copyright_left #address {
    font-size: 15px;
    margin-left: 40px;
    width: 350px;
    line-height: 20px;
    
}

#copyright_right1 {
    
    margin-top: 10px;
    line-height: 40px;
    
}

#copyright_right1 #ment {
    
    width: 450px;
    margin-top: 25px;
}

#copyright_right {
    margin-left: 220px;
}


#snslogo {
    display: inline-flex;
    
    margin-top: 12px;
    
}

#snslogo img {
    width: 50px;
    height: 40px;
    margin-right: 23px;
}

#copyright_line {
    margin-top: -5px;
    margin-left: 70px;
    width: 900px;
    border: 0.1px rgb(199, 170, 170) solid;
    
}

#copyright_last {
    text-align: center;
    margin-top: 10px;
}





#kakao #kakao_logo {
    
    width: 50px;
    height: 50px;
    border-radius: 10px;
    top: 850px;
    right: 153px;
    position: fixed;
    box-shadow: 3px 3px rgba(48, 43, 37, 0.308);
   
    
}

#up {
    
    
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    margin-top: -490px;
    margin-left: 1250px;
    
    
    
    /* transform:rotate(-90deg); */
    border: rgb(75, 147, 184) 1px solid;
    top: 1400px;
    right: 150px;
    
}