body {
    margin: 0 ;  
    font-family: 'Nanum Gothic', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0 ;
    background-color: white;
    border-bottom: 1px solid skyblue;
    z-index: 3;
}

#header_container {
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 700;
    position: fixed;
    padding-left: -10px;
    margin-left: 210px;
    width: 1050px;

}

#header_container ul {
    width: 100%;
    display: inline-flex;
}

#header_container ul li {
    display: inline-block;
}

#menubar {
    margin-left: 20px;
}

.dropdown {
    position: relative;
}

.dropdown_menu {
    color: white;
    margin-top: -3px;
    cursor: pointer;
}


.dropdown_content1 {
    position: absolute;
    background-color: white;
    border: rgba(253, 244, 244, 0.911) solid 1px;
    display: none;
    margin-left: 0px;
}

.dropdown_content2 {
    position: absolute;
    background-color: white;
    border: rgba(253, 244, 244, 0.911) solid 1px;
    display: none;
    margin-left: -14px;
}

.dropdown_content3 {
    position: absolute;
    background-color: white;
    border: rgba(253, 244, 244, 0.911) solid 1px;
    display: none;
    margin-left: -15px;
}

.dropdown_content4 {
    position: absolute;
    background-color: white;
    border: rgba(253, 244, 244, 0.911) solid 1px;
    display: none;
    margin-left: -20px;
}

.dropdown_content1 a {
    color: black;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
    padding: 10px;   
}

.dropdown_content2 a {
    color: black;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
    padding: 10px;   
}

.dropdown_content3 a {
    color: black;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;  
    padding: 10px;   
}

.dropdown_content4 a {
    color: black;
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
    padding: 10px;   
}

.dropdown_menu a:hover {
    color: rgb(91, 157, 219);
}

.dropdown:hover .dropdown_content1 {
    display: block;
}

.dropdown:hover .dropdown_content2 {
    display: block;
}

.dropdown:hover .dropdown_content3 {
    display: block;
}

.dropdown:hover .dropdown_content4 {
    display: block;
}

.dropdown_content1 a:hover {
    color: white;
    background-color: skyblue;
}

.dropdown_content2 a:hover {
    color: white;
    background-color: skyblue;
}

.dropdown_content3 a:hover {
    color: white;
    background-color: skyblue;
}

.dropdown_content4 a:hover {
    color: white;
    background-color: skyblue;
}

ul {
    display: inline-flex;
    margin-top: 20px;
    float: left;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: rgb(44, 46, 47);
    padding-right: 40px;
}

ul li div img {
    width: 70px;
    height: 50px;
    margin-top: -20px;
}

#personal {
    margin-top: -52px;
    margin-left: 900px;
}

#personal li a {
	font-size:13px;
}

#header_container #personal .login {
    margin-top: 3px;
    font-size: 13px;
    z-index: 2;
}

#box1 {
    width: 200px;
    height: 50px;
}

#header_back {
    height: 50px;
}

#container {
    margin-left: 450px;
    margin-right: 200px;
    width: 1030px;
    height: 400px;
    z-index: 2;
}

#contents {
    width: 1030px;
    z-index: 2;
}

#section1_box1 {
    bottom: 50px;
    width: 100%;
    height: 700px;
    z-index: -1;
    opacity: 60%;
    padding-top: 100px;
    background-repeat: no-repeat;
}

#section1_back { 
    width: 100%;
    height: 700px;
    color: rgb(179, 186, 223);
    z-index: -2;
    background-color: rgb(0, 0, 0);
    opacity: 50%;
    margin-top: -900px;
}

#section1_ment {
    padding-top: 220px;
    line-height: 100px;
    z-index: 5;
    color: rgb(252, 239, 239);
    text-align: center;
    font-size: 50px;
}

#section2 {
    width: 100%;
    height: 420px;
    display: inline-flex;
}

#section2_ment1 {
    width: 500px;
    height: 400px;
    font-size: 35px;
    text-align: left;
    margin-top: 20px;
    margin-left: 60px;
    line-height: 80px;
    font-weight: 900;
    color: rgb(44, 46, 47);
}

#section2_ment2 {
    font-size: 20px;
    text-align: left;
    margin-top: 40px;
    margin-left: 50px;
    line-height: 55px;
    font-weight: 200;
    color: rgb(44, 46, 47);
}

#section3 {
    width: 100%;
    height: 420px;
    display: inline-flex;
    margin-top: -500px;
    padding-top: 10px;
    background-color: rgb(171, 204, 231);
    color: white;
}

#section3_ment1 {
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 90px;
    line-height: 45px;
    font-weight: 200;
}

#section3_ment2 {
    font-size: 35px;
    text-align: left;
    margin-top: 20px;
    margin-left: 145px;
    line-height: 70px;
    font-weight: 700;
}

span {
    font-size: 30px;
    font-weight: 400;
}


#section4_back {
    width: 100%;
}

#section4_back_picture {
    width: 100%;
}

#section4_comments {
    display: inline-flex;
    text-align: left;
    background-image: url('/resources/images/brandstory_section4.png');
    background-size: 100% 150%;
    background-repeat:no-repeat;
    width: 100%;
    height: 640px;
    color: rgb(44, 46, 47);
}

#section4_ment_box1 {
    text-align: left;
    margin-right: -100px;
    padding-left: 60px;
    margin-top: -50px;
    width: 600px;
}

#section4_ment_box2 {
    text-align: right;
    margin-left: 100px;
    padding-right: 60px;
    margin-top: 250px;
    width: 700px;
}

.section4_ment1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -20px;
    margin-top: 100px;
}

.section4_ment2 {
    font-size: 20px;
    font-weight: 900;
}

.section4_ment3 {
    font-size: 15px;
    line-height: 28px;
}

#section4_professional {
    margin-bottom: -30px;
}

#section4_tools {
    margin-bottom: 30px;
    line-height: 30px;
    margin-top: 30px;
}

#copyright {
    width: 100%;
    height: 270px;
    padding-top: -700px;
    color: rgb(80, 66, 66);
    background-color: rgba(219, 212, 201, 0.308);
}

#copyright_box {
    display: inline-flex;
    margin-left: 100px;
}

#copyright_left {
    margin-top: 10px;
    margin-left: -70px;
    width: 300px;
}

#copyright_left #cs {
    font-size: 20px;
    margin-left: 40px;
    line-height: 28px;
    font-weight: 700;
}

#copyright_left #address {
    font-size: 15px;
    margin-left: 40px;
    width: 350px;
    line-height: 20px;
    
}

#copyright_right1 {
    margin-top: 10px;
    line-height: 40px;
}

#copyright_right1 #ment {
    width: 450px;
    margin-top: 25px;
}

#copyright_right {
    margin-left: 220px;
}


#snslogo {
    display: inline-flex;
    margin-top: 12px;
}

#snslogo img {
    width: 50px;
    height: 40px;
    margin-right: 23px;
}

#copyright_line {
    margin-top: -5px;
    margin-left: 70px;
    width: 900px;
    border: 0.1px rgb(199, 170, 170) solid;
}

#copyright_last {
    text-align: center;
    margin-top: 10px;
}


#kakao {
    width: 200px;
    height: 200px;
    margin-left: 1200px;
    margin-top: -300px;
    position: fixed;
    top:1150px;
    left: 500px;
}

#kakao #kakao_logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(48, 43, 37, 0.308);
}

#up {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: rgb(75, 147, 184) 1px solid;
    margin-top: 5px;
}